
<app-sidebar></app-sidebar>

<app-topmenu></app-topmenu>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <app-content></app-content>

 <app-about></app-about>
  <hr>
  <app-contact></app-contact>
  <app-footer></app-footer>
 
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
