<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
  
      <input class="w3-input w3-border" type="text" placeholder="Name" required=""  [(ngModel)]="contact.username">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required="" [(ngModel)]="contact.email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required="" [(ngModel)]="contact.subject" >
      <input class="w3-input w3-section w3-border" [(ngModel)]="contact.content" type="text" placeholder="Comment" required="">
      <button class="w3-button w3-black w3-section" (click)="Send()" type="button">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    
  </div>