<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>İşlem</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of foods">
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td (click)="Delete(item._id)">Sil</td>
    
            </tr>
        </tbody>
    </table>
</div>
